<div fxLayout="row" fxLayoutAlign="center center" style="margin: 15px;">
    <div class="row" style="width: 95%; margin: 10px;">
        <div class="col-12">
            <mat-card class="box row">
                <button type="button" class="btn col-lg-6 button" (click)="biTipo = true" [ngClass]="biTipo ? 'btn-primary' : ''">Generar Kardex</button>
                <button type="button" class="btn col-lg-6 button" (click)="biTipo = false" [ngClass]="!biTipo ? 'btn-primary' : ''">Consultar Kardex</button>
                <div class="row col-lg-12" *ngIf="biTipo">
                    <button type="button" class="btn col-lg-4 button-sub" (click)="inTipo = 1" [ngClass]="inTipo == 1 ? 'btn-primary' : ''">Compra Venta</button>
                    <button type="button" class="btn col-lg-4 button-sub" (click)="inTipo = 2" [ngClass]="inTipo == 2 ? 'btn-primary' : ''">Donación</button>
                    <button type="button" class="btn col-lg-4 button-sub" (click)="inTipo = 3" [ngClass]="inTipo == 3 ? 'btn-primary' : ''">Permuta</button>
                    <mat-form-field appearance="outline" [ngClass]="inTipo == 3 ? 'col-lg-5' : 'col-lg-10'">
                        <mat-label>Placa {{ inTipo == 3 ? ' (1)' : '' }}</mat-label>
                        <mat-label></mat-label>
                        <input [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="vcPlaca" matInput
                        placeholder="Numero de placa">
                    </mat-form-field>
                    <mat-form-field *ngIf="inTipo == 3" appearance="outline" class="col-lg-5">
                        <mat-label>Placa (2)</mat-label>
                        <input [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="vcPlaca2" matInput
                        placeholder="Numero de placa 2">
                    </mat-form-field>
                    <button type="button" class="btn btn-primary col-lg-2 button" (click)="onBuscar()">Buscar</button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">FECHA</th>
                                <th>PLACA</th>
                                <th>PARTICIPANTES</th>
                                <th>PLANTILLA</th>
                                <th>KARDEX</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr *ngIf="kardexPlaca != null">
                                <td class="text-center">{{ 1 }}</td>
                                <td>{{kardexPlaca.opciones_created_at | date: 'dd/MM/yyyy'}}</td>
                                <td>{{kardexPlaca.bien_num_placa}}</td>
                                <td>
                                    <span><strong>{{srtTipo1()}}</strong></span>
                                    <div *ngFor="let transferente of kardexPlaca.transferenteJson">
                                        <mat-checkbox [(ngModel)]="transferente.biActivo">
                                            <span *ngIf="transferente.opciones_tipo_persona_natural">
                                                <span *ngIf="!transferente.apoderado">{{transferente.opciones_created_at | date: 'dd/MM/yyyy'}} | {{transferente.basicos_num_documento}} | {{transferente.basicos_nombres}} {{transferente.basicos_apellidos}}</span>
                                                <span *ngIf="transferente.apoderado">{{transferente.opciones_created_at | date: 'dd/MM/yyyy'}} | {{transferente.apoderado_num_documento}} | {{transferente.apoderado_nombres}} {{transferente.apoderado_apellidos}}</span>
                                            </span>
                                            <span *ngIf="transferente.opciones_tipo_persona_juridica">
                                                <span>{{transferente.opciones_created_at | date: 'dd/MM/yyyy'}} | {{transferente.representantes_numero_documento}} | {{transferente.representantes_nombres}}</span>
                                            </span>
                                        </mat-checkbox>
                                    </div>
                                    <hr>
                                    <span><strong>{{srtTipo2()}}</strong></span>
                                    <div *ngFor="let adquiriente of kardexPlaca.adquirienteJson">
                                        <mat-checkbox [(ngModel)]="adquiriente.biActivo">
                                            <span *ngIf="adquiriente.opciones_tipo_persona_natural">
                                                <span *ngIf="!adquiriente.apoderado">{{adquiriente.opciones_created_at | date: 'dd/MM/yyyy'}} | {{adquiriente.basicos_num_documento}} | {{adquiriente.basicos_nombres}} {{adquiriente.basicos_apellidos}}</span>
                                                <span *ngIf="adquiriente.apoderado">{{adquiriente.opciones_created_at | date: 'dd/MM/yyyy'}} | {{adquiriente.apoderado_num_documento}} | {{adquiriente.apoderado_nombres}} {{adquiriente.apoderado_apellidos}}</span>
                                            </span>
                                            <span *ngIf="adquiriente.opciones_tipo_persona_juridica">
                                                <span>{{adquiriente.opciones_created_at | date: 'dd/MM/yyyy'}} | {{adquiriente.representantes_numero_documento}} | {{adquiriente.representantes_nombres}}</span>
                                            </span>
                                        </mat-checkbox>
                                    </div>
                                </td>
                                <td>
                                    <a style="padding: 5px;" class="pointer" (click)="onGenerar(kardexPlaca)" title="Descargar Plantilla WORD">
                                        <img src="assets/word.ico" width="30px;" height="30px">
                                    </a>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1">#</span>
                                        </div>
                                        <input type="text" class="form-control" [(ngModel)]="kardexPlaca.kardex_numero" placeholder="Numero de Kardex">
                                      </div>
                                    <div class="input-group mb-3">
                                        <div class="custom-file">
                                          <input type="file" class="custom-file-input" (change)="seleccionFile($event.target.files[0])" type="file"
                                          accept=".docx" id="inputGroupFile01">
                                          <label class="custom-file-label" for="inputGroupFile01">{{kardex_reg.archivo_name}}</label>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success col-lg-12" (click)="onSave(kardexPlaca)">Generar</button>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row col-lg-12" *ngIf="!biTipo"> 
                    <mat-form-field appearance="outline" class="col-lg-5">
                        <mat-label>Placa</mat-label>
                        <input [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="numero_placa" matInput
                        placeholder="Numero de placa">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-5">
                        <mat-label>Numero Kardex</mat-label>
                        <input [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="kardex_numero" matInput
                        placeholder="Numero de kardex">
                    </mat-form-field>
                    <button type="button" class="btn btn-primary col-lg-2 button" (click)="onBuscarKardex()">Buscar</button>
                    
                    <table style="height: 10px; width: 100%;" mat-table [dataSource]="dataSourceKardex">
                        <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef> FECHA </th>
                            <td mat-cell *matCellDef="let item">
                                {{item.fecha_registro}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="placa">
                            <th mat-header-cell *matHeaderCellDef> PLACA </th>
                            <td mat-cell *matCellDef="let item">
                                {{item.numero_placa}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="numero">
                            <th mat-header-cell *matHeaderCellDef> NUMERO KARDEX </th>
                            <td mat-cell *matCellDef="let item">
                                {{item.kardex_numero}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="participante1">
                            <th mat-header-cell *matHeaderCellDef> TRANSFERENTE / DONANTE / INTERVINIENTE 1 </th>
                            <td mat-cell *matCellDef="let item">
                                <div [innerHTML]="item.transferente"></div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="participante2">
                            <th mat-header-cell *matHeaderCellDef> ADQUIRENTE / DONATARIO / INTERVINIENTE 2 </th>
                            <td mat-cell *matCellDef="let item">
                                <div [innerHTML]="item.adquiriente"></div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="descargar">
                            <th mat-header-cell *matHeaderCellDef> KARDEX </th>
                            <td mat-cell *matCellDef="let item">
                                <a style="padding: 5px;" class="pointer" (click)="onDescargarKadex(item)" title="Descargar KARDEX">
                                    <img src="assets/word.ico" width="30px;" height="30px">
                                </a>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns">
                        </tr>
                        <tr mat-row
                            *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                    </table>
                    <mat-paginator #paginatorRegistros class="mat-paginator-sticky"
                        [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons>
                    </mat-paginator>
                    <!--<tr *ngIf="dataSourceKardex.data.length === 0"><td><span class="col-12 sin-resultados">No se encontarón resultados</span></td></tr>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">FECHA</th>
                                <th>PLACA</th>
                                <th>Numero KARDEX</th>
                                <th>TRANSFERENTE / DONANTE / INTERVINIENTE 1</th>
                                <th>ADQUIRENTE / DONATARIO / INTERVINIENTE 2</th>
                                <th>KARDEX</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr *ngIf="dataSourceKardex.length === 0"><td><span class="col-12 sin-resultados">No se encontarón resultados</span></td></tr>
                            <tr *ngFor="let item of dataSourceKardex; let i = index;">
                                <td class="text-center">{{ i + 1 }}</td>
                                <td>{{item.fecha_registro}}</td>
                                <td>{{item.numero_placa}}</td>
                                <td>{{item.kardex_numero}}</td>
                                <td>
                                    <div [innerHTML]="item.transferente"></div>
                                </td>
                                <td>
                                    <div [innerHTML]="item.adquiriente"></div>
                                </td>
                                <td>
                                    <a style="padding: 5px;" class="pointer" (click)="onDescargarKadex(item)" title="Descargar KARDEX">
                                        <img src="assets/word.ico" width="30px;" height="30px">
                                    </a>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>-->
                </div>
            </mat-card>
        </div>
    </div>
</div>




<script src="node_modules/docxtemplater/build/docxtemplater.js"></script>
    <script src="node_modules/pizzip/dist/pizzip.js"></script>
    <script src="node_modules/pizzip/vendor/FileSaver.js"></script>
    <script src="node_modules/pizzip/dist/pizzip-utils.js"></script>
    <script src="build/html-module.js"></script>
    <script>
        function generarDocx() {
            let url = environment.plantilla1;
            if (this.inTipo === 2)
            url = environment.plantilla2;
            else if (this.inTipo === 3)
            url = environment.plantilla3;
            this.funciones.showLoading();
            PizZipUtils.getBinaryContent(url,
                function (error, content) {
                    if (error) {
                        console.error(error);
                        return;
                    }

                    var zip = new PizZip(content);
                    var doc = new docxtemplater(zip, {
                        modules: [new DocxtemplaterHtmlModule({})],
                    });

                    doc.render({
                        html: "<p>Hello <b>John</b></p>",
                    });
                    var out = doc.getZip().generate({
                        type: "blob",
                        mimeType:
                            "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    });
                    saveAs(out, "generated.docx");
                }
            )
        }
    </script>







<!--

    <div fxLayout="row" fxLayoutAlign="center" style="margin: 100px;">
    <div class="row" style="width: 95%; margin: 10px;">
        <div class="col-12 row">
            <mat-card class="box">
                <form>            
                    <div>
                        <mat-radio-group [ngModelOptions]="{standalone: true}" aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="inTipo">
                            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season.inTipo">
                                {{season.nombre}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div [hidden]="!movil">
                        <mat-form-field appearance="outline" style="height: 70px;" style="width: 100%;">
                            <mat-label>Placa (1)</mat-label>
                            <input [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="vcPlaca" matInput
                            placeholder="Numero de placa">
                        </mat-form-field> 
                        <mat-form-field *ngIf="inTipo == 3" appearance="outline" style="height: 70px;" style="width: 100%;">
                            <mat-label>Placa (2)</mat-label>
                            <input [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="vcPlaca2" matInput
                            placeholder="Numero de placa 2">
                        </mat-form-field>
                        <div class="row">
                            <div style="width: 50%;">
                                <button style="height: 39px; width: 95%;" (click)="onBuscar()" mat-raised-button
                                    color="primary">Buscar Placa</button>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="movil">
                        <table style="width: 900px;">
                            <tr>
                                <td style="width: 35%;">
                                    <div style="width: 90%;">
                                        <mat-form-field appearance="outline" style="height: 70px;" style="width: 100%;">
                                            <mat-label>Placa (1)</mat-label>
                                            <input [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="vcPlaca" matInput
                                            placeholder="Numero de placa">
                                        </mat-form-field>
                                    </div>
                                </td>
                               <td *ngIf="inTipo == 3" style="width: 30%;">
                                    <div style="width: 90%;">
                                        <mat-form-field appearance="outline" style="height: 70px;" style="width: 100%;">
                                            <mat-label>Placa (2)</mat-label>
                                            <input [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="vcPlaca2" matInput
                                            placeholder="Numero de placa 2">
                                        </mat-form-field>
                                    </div>
                                </td>
                                <td style="width: 5%;">
                                    <div style="width: 80%;">
                                        <button style="height: 39px;" (click)="onBuscar()" mat-raised-button
                                            color="primary">Buscar Placa</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <table style="height: 10px; width: 100%;" mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef style="width: 15%;"> # </th>
                            <td mat-cell *matCellDef="let element; let i = index;"
                                class="contadorTabla columnTextCenter font-weight-bold">
                                {{ i + 1 }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Fecha </th>
                            <td mat-cell *matCellDef="let element">
                                <label style="font-size: 13px;font-weight: bold;">
                                    {{element.fecha | date: 'dd/MM/yyyy'}}
                                </label>
                            </td>
                        </ng-container><ng-container matColumnDef="adquiriente">
                            <th mat-header-cell *matHeaderCellDef style="width: 15%;"> 
                                <span *ngIf="inTipo === 3">Interviniente 1</span> 
                                <span *ngIf="inTipo !== 3">Adquiriente</span> 
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <label style="font-size: 13px;font-weight: bold;">
                                    <span *ngIf="inTipo === 3"> {{element.transferente}}</span> 
                                    <span *ngIf="inTipo !== 3">{{element.adquiriente}}</span> 
                                </label>
                            </td>
                        </ng-container><ng-container matColumnDef="transferente">
                            <th mat-header-cell *matHeaderCellDef style="width: 15%;"> 
                                <span *ngIf="inTipo === 3">Interviniente 2</span> 
                                <span *ngIf="inTipo !== 3">Transferente</span>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <label style="font-size: 13px;font-weight: bold;">
                                    <span *ngIf="inTipo === 3">{{element.adquiriente}}</span> 
                                    <span *ngIf="inTipo !== 3">{{element.transferente}}</span> 
                                </label>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="num_placa">
                            <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Placa </th>
                            <td mat-cell *matCellDef="let element">
                                <label style="font-size: 13px;font-weight: bold;">
                                    <span *ngIf="inTipo === 3">{{element.vcPlacas}}</span>
                                    <span *ngIf="inTipo !== 3">{{element.vcplaca}}</span>
                                </label>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="descargar">
                            <th mat-header-cell *matHeaderCellDef style="width: 10%;"></th>
                            <td mat-cell *matCellDef="let element">
                                <i class="fas fa-user"></i>
                                <a style="padding: 5px;" class="pointer" (click)="onGenerar(element)" title="Descargar WORD">
                                    <img src="assets/word.ico" width="40px;" height="40px">
                                </a>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns">
                        </tr>
                        <tr mat-row
                            *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                    </table>
                    <mat-paginator #paginato class="mat-paginator-sticky"
                        [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons>
                    </mat-paginator>
                </form>
            </mat-card>
        </div>
    </div>
</div>

-->