<div class="container">
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <div class="row">
      <div class="col-12">
        <mat-card class="box">
          <div *ngIf="tipo == '0'">
            <mat-card-header>
              <mat-card-title>Datos Registrados</mat-card-title>
            </mat-card-header>
            <form>
              <mat-card-content>
                Datos guardados correctamente en el sistema, con el numero de orden <b>{{serie}}</b>
              </mat-card-content>
              <button mat-stroked-button color="accent" [routerLink]="['/home']" class="btn-block">Registrar Nuevo Proceso
                >></button>
            </form>
          </div>
          <div *ngIf="tipo == '1'">
            <mat-card-header>
              <mat-card-title>Datos Guardados</mat-card-title>
            </mat-card-header>
            <form>
              <mat-card-content>
                El registro fue, <b>{{serie}}</b>
              </mat-card-content>
              <button mat-stroked-button color="accent" [routerLink]="['/lregistros']" class="btn-block">Volver a la lista
                >></button>
            </form>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>